.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
data/
build/
.gradle/
bin/
obj/
experiment/
.classpath
.project
.settings
node_modules/
.DS_Store
.idea/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid

